@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <img src="~/Images/LARCA_GRANDE.jpg" style="width:100%;" />
            <p>
                @foreach (string item in ViewBag.Groups)
                {
                    @item <br />
                }
            </p>
        </div>
    </section>
}