@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                LARCA 2 (Latin America Root Cause Analysis) is a weekly regional process that consolidates incidents data and share it with key stakeholders in a defined format in order to gather the root cause of those incidents for analysis and action plans creation, ensuring that those plans are tracked until completion.
            </p>
        </div>
    </section>
}
<div align="center">
    <h3>QA VERSION</h3>
</div>