@model Larca2.Models.UserForm

@{
    ViewBag.Title = "Message";
}
@section featured {
    <section class="featured">
        <div style="text-align:center" class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title:</h1>
                <h2>@ViewBag.Message</h2>  
            </hgroup>
               
            Invalid user. Please contact the following Administrator: <b>@ViewBag.Admin</b> (<b>@ViewBag.Email</b>) in order to be granted access to the tool.                  
        </div>
    </section>
}
