USE [Larca2]
GO
/****** Object:  Table [dbo].[LARCA20_SmoScopeGroupedRows]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LARCA20_SmoScopeGroupedRows](
	[SmoScopeID] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[RefIdSMO] [bigint] NULL,
	[RefIdBU] [bigint] NULL,
	[RefIdOwner] [bigint] NULL,
	[RefIdRC] [bigint] NULL,
	[Volumen] [decimal](20, 15) NULL,
	[Problem] [nvarchar](100) NULL,
	[Why1] [nvarchar](100) NULL,
	[Why2] [nvarchar](100) NULL,
	[Why3] [nvarchar](100) NULL,
	[ActionPlan] [nvarchar](100) NULL,
	[RefIdResponsable] [int] NULL,
	[DueDate] [datetime] NULL,
	[O_C] [char](1) NULL,
	[deleted] [bit] NOT NULL,
	[Level4] [bigint] NULL,
	[GroupSmoID] [bigint] NOT NULL,
 CONSTRAINT [PK_SmoScopeGroup] PRIMARY KEY CLUSTERED 
(
	[SmoScopeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LARCA20_SmoScopeGroup]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_SmoScopeGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefIdFrom] [int] NULL,
	[RefIdTo] [int] NULL,
	[date] [smalldatetime] NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_SmoScopeGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARCA20_Roles]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Roles] ON
INSERT [dbo].[LARCA20_Roles] ([Id], [Description], [deleted]) VALUES (1, N'Administrator', 0)
INSERT [dbo].[LARCA20_Roles] ([Id], [Description], [deleted]) VALUES (2, N'Editor', 0)
INSERT [dbo].[LARCA20_Roles] ([Id], [Description], [deleted]) VALUES (3, N'Reporter', 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Roles] OFF
/****** Object:  Table [dbo].[LARCA20_Responsable]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Responsable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Last_name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[RefIdUser] [int] NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Responsable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Responsable] ON
INSERT [dbo].[LARCA20_Responsable] ([Id], [Name], [Last_name], [Email], [RefIdUser], [deleted]) VALUES (1, N'Juan', N'Fernandez', N'juan@pg.com', 2, 0)
INSERT [dbo].[LARCA20_Responsable] ([Id], [Name], [Last_name], [Email], [RefIdUser], [deleted]) VALUES (2, N'Prueba', N'Responsable', N'responsable1@pg.com', 3, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Responsable] OFF
/****** Object:  Table [dbo].[LARCA20_RcClasification]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_RcClasification](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[level_name] [nvarchar](10) NULL,
	[Code] [nvarchar](10) NULL,
	[Description] [nvarchar](100) NULL,
	[Ownership] [nvarchar](5) NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_RcClasification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_RcClasification] ON
INSERT [dbo].[LARCA20_RcClasification] ([Id], [level_name], [Code], [Description], [Ownership], [deleted]) VALUES (1, N'1', N'1', N'1 Supply Issues', N'', 0)
INSERT [dbo].[LARCA20_RcClasification] ([Id], [level_name], [Code], [Description], [Ownership], [deleted]) VALUES (2, N'1', N'2', N'2 Business Planning Issues', N'', 0)
INSERT [dbo].[LARCA20_RcClasification] ([Id], [level_name], [Code], [Description], [Ownership], [deleted]) VALUES (3, N'1', N'3', N'3 Commercial Execution Issue', N'', 0)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[LARCA20_RcClasification] OFF
/****** Object:  Table [dbo].[LARCA20_MasterDataSMOLess]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_MasterDataSMOLess](
	[dRenglon] [int] IDENTITY(1,1) NOT NULL,
	[RefIdMasterDataSMO] [int] NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_LARCA20_MasterDataSMOLess] PRIMARY KEY CLUSTERED 
(
	[dRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_MasterDataSMOLess] ON
INSERT [dbo].[LARCA20_MasterDataSMOLess] ([dRenglon], [RefIdMasterDataSMO], [borrado]) VALUES (1, 48, 0)
INSERT [dbo].[LARCA20_MasterDataSMOLess] ([dRenglon], [RefIdMasterDataSMO], [borrado]) VALUES (2, 51, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_MasterDataSMOLess] OFF
/****** Object:  Table [dbo].[LARCA20_MasterData]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_MasterData](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](20) NULL,
	[DataIni] [nvarchar](100) NULL,
	[DataFin] [nvarchar](50) NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_MasterData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_MasterData] ON
INSERT [dbo].[LARCA20_MasterData] ([id], [Data], [DataIni], [DataFin], [deleted]) VALUES (47, N'SMO', N'PERU', N'PERU', 0)
INSERT [dbo].[LARCA20_MasterData] ([id], [Data], [DataIni], [DataFin], [deleted]) VALUES (48, N'SMO', N'ARGENTINA', N'ARGENTINA', 0)
INSERT [dbo].[LARCA20_MasterData] ([id], [Data], [DataIni], [DataFin], [deleted]) VALUES (49, N'SMO', N'BRAZIL', N'BRAZIL', 0)
SET IDENTITY_INSERT [dbo].[LARCA20_MasterData] OFF
/****** Object:  Table [dbo].[LARCA20_Mailing]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Mailing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](5) NULL,
	[Email] [nvarchar](100) NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Mailing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARCA20_ImputOriginal]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_ImputOriginal](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](5) NULL,
	[FPC] [nvarchar](100) NULL,
	[RepCountry] [nvarchar](100) NULL,
	[ProfitCenter] [nvarchar](100) NULL,
	[ReasonCode] [nvarchar](100) NULL,
	[CFR] [nvarchar](100) NULL,
	[SapSite] [nvarchar](100) NULL,
	[Customer] [nvarchar](100) NULL,
	[SU_Cases] [decimal](12, 2) NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_ImputOriginal] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARCA20_Emails]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Emails](
	[EmailID] [bigint] IDENTITY(1,1) NOT NULL,
	[processtype] [int] NOT NULL,
	[MessageID] [nvarchar](max) NOT NULL,
	[date] [datetime] NOT NULL,
	[filename] [nvarchar](max) NOT NULL,
	[processed] [bit] NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Emails] PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Emails] ON
INSERT [dbo].[LARCA20_Emails] ([EmailID], [processtype], [MessageID], [date], [filename], [processed], [deleted]) VALUES (6, 1, N'CALjZ=AsrB2AGkX5FqXoirnuUndpnNRYuzV8b7thLsOh10gK-KQ@mail.gmail.com', CAST(0x0000A60801565B5C AS DateTime), N'16May2016_MasterData_291.xlsx', 1, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Emails] OFF
/****** Object:  Table [dbo].[LARCA20_AuxData]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_AuxData](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[TopLvl2] [int] NOT NULL,
	[TopLvl3] [int] NOT NULL,
	[XlsRowFrom] [int] NOT NULL,
	[XlsColumnFrom] [int] NOT NULL,
	[Toplvl4] [int] NOT NULL,
	[qtyattach] [int] NOT NULL,
	[filterlimit] [int] NOT NULL,
	[reportdays] [int] NOT NULL,
	[SmoDays] [int] NULL,
 CONSTRAINT [PK_LARCA20_AuxData] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_AuxData] ON
INSERT [dbo].[LARCA20_AuxData] ([RowId], [TopLvl2], [TopLvl3], [XlsRowFrom], [XlsColumnFrom], [Toplvl4], [qtyattach], [filterlimit], [reportdays], [SmoDays]) VALUES (1, 5, 5, 1, 0, 2, 8, 0, 30, 27)
SET IDENTITY_INSERT [dbo].[LARCA20_AuxData] OFF
/****** Object:  Table [dbo].[LARCA20_Users]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[telephone] [nvarchar](50) NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NULL,
	[date] [smalldatetime] NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Users] ON
INSERT [dbo].[LARCA20_Users] ([Id], [name], [last_name], [Email], [telephone], [user_name], [pass], [date], [deleted]) VALUES (1, N'Carlos', N'Perez', N'Mariano@pg.com', N'555', N'Mariano', N'Pz8e', CAST(0xA640045C AS SmallDateTime), 0)
INSERT [dbo].[LARCA20_Users] ([Id], [name], [last_name], [Email], [telephone], [user_name], [pass], [date], [deleted]) VALUES (2, N'Juan', N'Fernandez', N'juan@pg.com', N'1122', N'juan', N'Pz8/', CAST(0xA64102E0 AS SmallDateTime), 0)
INSERT [dbo].[LARCA20_Users] ([Id], [name], [last_name], [Email], [telephone], [user_name], [pass], [date], [deleted]) VALUES (3, N'Prueba', N'Responsable', N'responsable1@pg.com', NULL, N'responsable1', NULL, CAST(0xA6390299 AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Users] OFF
/****** Object:  Table [dbo].[LARCA20_User_Owner]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_User_Owner](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NULL,
	[IdOwner] [bigint] NULL,
	[IdSmo] [bigint] NULL,
	[IdBU] [bigint] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_LARCA20_User_Owner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARCA20_SmoScope]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LARCA20_SmoScope](
	[SmoScopeID] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[RefIdSMO] [bigint] NULL,
	[RefIdBU] [bigint] NULL,
	[RefIdOwner] [bigint] NULL,
	[RefIdRC] [bigint] NULL,
	[Volumen] [decimal](20, 15) NULL,
	[Problem] [nvarchar](100) NULL,
	[Why1] [nvarchar](100) NULL,
	[Why2] [nvarchar](100) NULL,
	[Why3] [nvarchar](100) NULL,
	[ActionPlan] [nvarchar](100) NULL,
	[RefIdResponsable] [int] NULL,
	[DueDate] [datetime] NULL,
	[O_C] [char](1) NULL,
	[deleted] [bit] NOT NULL,
	[Level4] [bigint] NULL,
	[historic] [bit] NULL,
 CONSTRAINT [PK_SmoScope] PRIMARY KEY CLUSTERED 
(
	[SmoScopeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LARCA20_SmoScope] ON
INSERT [dbo].[LARCA20_SmoScope] ([SmoScopeID], [date], [RefIdSMO], [RefIdBU], [RefIdOwner], [RefIdRC], [Volumen], [Problem], [Why1], [Why2], [Why3], [ActionPlan], [RefIdResponsable], [DueDate], [O_C], [deleted], [Level4], [historic]) VALUES (5038, CAST(0x0000A64800E78691 AS DateTime), 50, 88, 58, 125, CAST(8.287200000000000 AS Decimal(20, 15)), N'', N'', N'', N'', N'', NULL, NULL, N' ', 0, NULL, 0)
INSERT [dbo].[LARCA20_SmoScope] ([SmoScopeID], [date], [RefIdSMO], [RefIdBU], [RefIdOwner], [RefIdRC], [Volumen], [Problem], [Why1], [Why2], [Why3], [ActionPlan], [RefIdResponsable], [DueDate], [O_C], [deleted], [Level4], [historic]) VALUES (5039, CAST(0x0000A64800E78A48 AS DateTime), 50, 88, 57, 47, CAST(1.303200000000000 AS Decimal(20, 15)), N'', N'', N'', N'', N'', NULL, NULL, N' ', 0, NULL, 0)
INSERT [dbo].[LARCA20_SmoScope] ([SmoScopeID], [date], [RefIdSMO], [RefIdBU], [RefIdOwner], [RefIdRC], [Volumen], [Problem], [Why1], [Why2], [Why3], [ActionPlan], [RefIdResponsable], [DueDate], [O_C], [deleted], [Level4], [historic]) VALUES (5040, CAST(0x0000A64800E78A73 AS DateTime), 50, 88, 57, 63, CAST(1.279200000000000 AS Decimal(20, 15)), N'', N'', N'', N'', N'', NULL, NULL, N' ', 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_SmoScope] OFF
/****** Object:  Table [dbo].[LARCA20_Level4]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Level4](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[RefIdLevel3] [bigint] NULL,
	[deleted] [bit] NULL,
 CONSTRAINT [PK_LARCA20_Level4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Level4] ON
INSERT [dbo].[LARCA20_Level4] ([Id], [name], [RefIdLevel3], [deleted]) VALUES (1, N'1111', 31, 0)
INSERT [dbo].[LARCA20_Level4] ([Id], [name], [RefIdLevel3], [deleted]) VALUES (2, N'1', 28, 0)
INSERT [dbo].[LARCA20_Level4] ([Id], [name], [RefIdLevel3], [deleted]) VALUES (3, N'111', 28, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Level4] OFF
/****** Object:  Table [dbo].[LARCA20_UsersRoles]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_UsersRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefIdUser] [int] NOT NULL,
	[RefIdRoles] [int] NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_UsuariosRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_UsersRoles] ON
INSERT [dbo].[LARCA20_UsersRoles] ([Id], [RefIdUser], [RefIdRoles], [deleted]) VALUES (1, 1, 1, 0)
INSERT [dbo].[LARCA20_UsersRoles] ([Id], [RefIdUser], [RefIdRoles], [deleted]) VALUES (2, 2, 1, 0)
INSERT [dbo].[LARCA20_UsersRoles] ([Id], [RefIdUser], [RefIdRoles], [deleted]) VALUES (3, 3, 3, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_UsersRoles] OFF
/****** Object:  Table [dbo].[LARCA20_SmoScopeDetail]    Script Date: 07/19/2016 14:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_SmoScopeDetail](
	[DetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[SmoScopeID] [bigint] NULL,
	[date] [datetime] NULL,
	[SmoID] [bigint] NULL,
	[BuID] [bigint] NULL,
	[OwnerID] [bigint] NULL,
	[Lvl2ID] [bigint] NULL,
	[Lvl3ID] [bigint] NULL,
	[Volumen] [decimal](20, 15) NOT NULL,
	[ReasonID] [bigint] NULL,
	[Customer] [nvarchar](max) NULL,
	[deleted] [bit] NOT NULL,
	[originaldate] [nvarchar](max) NULL,
	[FPC] [nvarchar](max) NULL,
 CONSTRAINT [PK_LARCA20_SmoScopeDetail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_SmoScopeDetail] ON
INSERT [dbo].[LARCA20_SmoScopeDetail] ([DetailID], [SmoScopeID], [date], [SmoID], [BuID], [OwnerID], [Lvl2ID], [Lvl3ID], [Volumen], [ReasonID], [Customer], [deleted], [originaldate], [FPC]) VALUES (27607, 5038, CAST(0x0000A64800E754FD AS DateTime), 50, 88, 58, 23, 125, CAST(1.440000000000000 AS Decimal(20, 15)), 66, N'CORPORATIVO VERTE BELLA S.A. DE', 0, N'DAY155, FRIDAY , JUN 3 2016', N'KOLESTON 5546 ROJO EXOTICO 2x6IT C2 [CS] [80271824] (7506195191460)')
INSERT [dbo].[LARCA20_SmoScopeDetail] ([DetailID], [SmoScopeID], [date], [SmoID], [BuID], [OwnerID], [Lvl2ID], [Lvl3ID], [Volumen], [ReasonID], [Customer], [deleted], [originaldate], [FPC]) VALUES (27608, 5038, CAST(0x0000A64800E7550A AS DateTime), 50, 88, 58, 23, 125, CAST(0.026400000000000 AS Decimal(20, 15)), 66, N'WAL MART SUPERCENTER', 0, N'DAY155, FRIDAY , JUN 3 2016', N'KOLESTON KIT No 674 TABACO COBRIZ 1X12IT [CS] [80668697] (726669007289)')
INSERT [dbo].[LARCA20_SmoScopeDetail] ([DetailID], [SmoScopeID], [date], [SmoID], [BuID], [OwnerID], [Lvl2ID], [Lvl3ID], [Volumen], [ReasonID], [Customer], [deleted], [originaldate], [FPC]) VALUES (27609, 5038, CAST(0x0000A64800E7552D AS DateTime), 50, 88, 58, 23, 125, CAST(0.024000000000000 AS Decimal(20, 15)), 66, N'CENTRAL DETALLISTA SA DE CV', 0, N'DAY155, FRIDAY , JUN 3 2016', N'MISS CLAIROL No 28 RUB CEN CLAR 1X12IT [CS] [80284615] (7501007451503)')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[LARCA20_SmoScopeDetail] OFF
/****** Object:  Default [DF_LARCA20_ImputOriginal_borrado]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_ImputOriginal] ADD  CONSTRAINT [DF_LARCA20_ImputOriginal_borrado]  DEFAULT ('N') FOR [deleted]
GO
/****** Object:  Default [DF_LARCA20_Mailing_borrado]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_Mailing] ADD  CONSTRAINT [DF_LARCA20_Mailing_borrado]  DEFAULT ('N') FOR [deleted]
GO
/****** Object:  Default [DF_LARCA20_Roles_borrado]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_Roles] ADD  CONSTRAINT [DF_LARCA20_Roles_borrado]  DEFAULT ('N') FOR [deleted]
GO
/****** Object:  Default [DF_LARCA20_SmoScopeGroup_Fecha]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeGroup] ADD  CONSTRAINT [DF_LARCA20_SmoScopeGroup_Fecha]  DEFAULT (getdate()) FOR [date]
GO
/****** Object:  Default [DF_LARCA20_SmoScopeGroup_Borrado]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeGroup] ADD  CONSTRAINT [DF_LARCA20_SmoScopeGroup_Borrado]  DEFAULT ('N') FOR [deleted]
GO
/****** Object:  Default [DF_LARCA20_UsuariosRoles_borrado]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_UsersRoles] ADD  CONSTRAINT [DF_LARCA20_UsuariosRoles_borrado]  DEFAULT ('N') FOR [deleted]
GO
/****** Object:  ForeignKey [FK_LARCA20_Level4_LARCA20_RcClasification]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_Level4]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_Level4_LARCA20_RcClasification] FOREIGN KEY([RefIdLevel3])
REFERENCES [dbo].[LARCA20_RcClasification] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_Level4] CHECK CONSTRAINT [FK_LARCA20_Level4_LARCA20_RcClasification]
GO
/****** Object:  ForeignKey [FK_LARCA20_MasterData_LARCA20_MasterData]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_MasterData]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_MasterData_LARCA20_MasterData] FOREIGN KEY([id])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_MasterData] CHECK CONSTRAINT [FK_LARCA20_MasterData_LARCA20_MasterData]
GO
/****** Object:  ForeignKey [MasterBU]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [MasterBU] FOREIGN KEY([RefIdBU])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [MasterBU]
GO
/****** Object:  ForeignKey [MasterLvl]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [MasterLvl] FOREIGN KEY([RefIdRC])
REFERENCES [dbo].[LARCA20_RcClasification] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [MasterLvl]
GO
/****** Object:  ForeignKey [MasterOwner]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [MasterOwner] FOREIGN KEY([RefIdOwner])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [MasterOwner]
GO
/****** Object:  ForeignKey [MasterSMO]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [MasterSMO] FOREIGN KEY([RefIdSMO])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [MasterSMO]
GO
/****** Object:  ForeignKey [ResponsableSmo]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [ResponsableSmo] FOREIGN KEY([RefIdResponsable])
REFERENCES [dbo].[LARCA20_Responsable] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [ResponsableSmo]
GO
/****** Object:  ForeignKey [MasterBUDetail]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterBUDetail] FOREIGN KEY([BuID])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterBUDetail]
GO
/****** Object:  ForeignKey [MasterLvl2Detail]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterLvl2Detail] FOREIGN KEY([Lvl2ID])
REFERENCES [dbo].[LARCA20_RcClasification] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterLvl2Detail]
GO
/****** Object:  ForeignKey [MasterLvl3Detail]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterLvl3Detail] FOREIGN KEY([Lvl3ID])
REFERENCES [dbo].[LARCA20_RcClasification] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterLvl3Detail]
GO
/****** Object:  ForeignKey [MasterOwnerDetail]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterOwnerDetail] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterOwnerDetail]
GO
/****** Object:  ForeignKey [MasterReasonDetail]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterReasonDetail] FOREIGN KEY([ReasonID])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterReasonDetail]
GO
/****** Object:  ForeignKey [MasterSMODetail]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterSMODetail] FOREIGN KEY([SmoID])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterSMODetail]
GO
/****** Object:  ForeignKey [SmoScopeDetail]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [SmoScopeDetail] FOREIGN KEY([SmoScopeID])
REFERENCES [dbo].[LARCA20_SmoScope] ([SmoScopeID])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [SmoScopeDetail]
GO
/****** Object:  ForeignKey [FK_LARCA20_User_Owner_LARCA20_MasterData_BU]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_User_Owner]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_MasterData_BU] FOREIGN KEY([IdBU])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_User_Owner] CHECK CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_MasterData_BU]
GO
/****** Object:  ForeignKey [FK_LARCA20_User_Owner_LARCA20_MasterData_owner]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_User_Owner]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_MasterData_owner] FOREIGN KEY([IdOwner])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_User_Owner] CHECK CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_MasterData_owner]
GO
/****** Object:  ForeignKey [FK_LARCA20_User_Owner_LARCA20_User_Owner]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_User_Owner]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_User_Owner] FOREIGN KEY([Id])
REFERENCES [dbo].[LARCA20_User_Owner] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_User_Owner] CHECK CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_User_Owner]
GO
/****** Object:  ForeignKey [FK_LARCA20_User_Owner_LARCA20_User_Owner1]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_User_Owner]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_User_Owner1] FOREIGN KEY([Id])
REFERENCES [dbo].[LARCA20_User_Owner] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_User_Owner] CHECK CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_User_Owner1]
GO
/****** Object:  ForeignKey [FK_LARCA20_User_Owner_LARCA20_User_SMO]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_User_Owner]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_User_SMO] FOREIGN KEY([IdSmo])
REFERENCES [dbo].[LARCA20_MasterData] ([id])
GO
ALTER TABLE [dbo].[LARCA20_User_Owner] CHECK CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_User_SMO]
GO
/****** Object:  ForeignKey [FK_LARCA20_User_Owner_LARCA20_Usuarios]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_User_Owner]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_Usuarios] FOREIGN KEY([IdUser])
REFERENCES [dbo].[LARCA20_Users] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_User_Owner] CHECK CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_Usuarios]
GO
/****** Object:  ForeignKey [FK_LARCA20_UsuariosRoles_LARCA20_Roles]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_UsuariosRoles_LARCA20_Roles] FOREIGN KEY([RefIdRoles])
REFERENCES [dbo].[LARCA20_Roles] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_UsersRoles] CHECK CONSTRAINT [FK_LARCA20_UsuariosRoles_LARCA20_Roles]
GO
/****** Object:  ForeignKey [FK_LARCA20_UsuariosRoles_LARCA20_Usuarios]    Script Date: 07/19/2016 14:06:04 ******/
ALTER TABLE [dbo].[LARCA20_UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_UsuariosRoles_LARCA20_Usuarios] FOREIGN KEY([RefIdUser])
REFERENCES [dbo].[LARCA20_Users] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_UsersRoles] CHECK CONSTRAINT [FK_LARCA20_UsuariosRoles_LARCA20_Usuarios]
GO
