USE [Larca2]
GO
/****** Object:  Table [dbo].[LARCA20_Usuarios]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Usuarios](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](50) NULL,
	[Fecha] [smalldatetime] NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Usuarios] ON
INSERT [dbo].[LARCA20_Usuarios] ([IdRenglon], [Nombre], [Apellido], [Email], [Telefono], [Usuario], [Clave], [Fecha], [Borrado]) VALUES (1, N'Carlos', N'Perez', N'Carlos@atos.com', N'555', N'jose', N'Pz8e', CAST(0xA626028D AS SmallDateTime), 0)
INSERT [dbo].[LARCA20_Usuarios] ([IdRenglon], [Nombre], [Apellido], [Email], [Telefono], [Usuario], [Clave], [Fecha], [Borrado]) VALUES (2, N'Juan', N'Fernandez', N'juan@atos.com', N'1122', N'juan', N'Pz8/', CAST(0xA6260287 AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Usuarios] OFF
/****** Object:  Table [dbo].[LARCA20_User_Owner]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_User_Owner](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdOwner] [bigint] NULL,
	[IdSmo] [bigint] NULL,
	[IdBU] [bigint] NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_LARCA20_User_Owner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_User_Owner] ON
INSERT [dbo].[LARCA20_User_Owner] ([Id], [IdUsuario], [IdOwner], [IdSmo], [IdBU], [Borrado]) VALUES (1, 2, 57, 48, 86, 1)
INSERT [dbo].[LARCA20_User_Owner] ([Id], [IdUsuario], [IdOwner], [IdSmo], [IdBU], [Borrado]) VALUES (2, 2, 57, 48, 86, 1)
INSERT [dbo].[LARCA20_User_Owner] ([Id], [IdUsuario], [IdOwner], [IdSmo], [IdBU], [Borrado]) VALUES (3, 2, 58, 48, 2, 1)
SET IDENTITY_INSERT [dbo].[LARCA20_User_Owner] OFF
/****** Object:  Table [dbo].[LARCA20_SmoScopeGroup]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_SmoScopeGroup](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[RefIdFrom] [int] NULL,
	[RefIdTo] [int] NULL,
	[Fecha] [smalldatetime] NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_SmoScopeGroup] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARCA20_ImputOriginal]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_ImputOriginal](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](5) NULL,
	[FPC] [nvarchar](100) NULL,
	[RepCountry] [nvarchar](100) NULL,
	[ProfitCenter] [nvarchar](100) NULL,
	[ReasonCode] [nvarchar](100) NULL,
	[CFR] [nvarchar](100) NULL,
	[SapSite] [nvarchar](100) NULL,
	[Customer] [nvarchar](100) NULL,
	[SU_Cases] [decimal](12, 2) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_ImputOriginal] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARCA20_Emails]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Emails](
	[EmailID] [bigint] IDENTITY(1,1) NOT NULL,
	[TipoProceso] [int] NOT NULL,
	[MessageID] [nvarchar](max) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Archivo] [nvarchar](max) NOT NULL,
	[Procesado] [bit] NOT NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Emails] PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Emails] ON
INSERT [dbo].[LARCA20_Emails] ([EmailID], [TipoProceso], [MessageID], [Fecha], [Archivo], [Procesado], [Borrado]) VALUES (6, 1, N'CALjZ=AsrB2AGkX5FqXoirnuUndpnNRYuzV8b7thLsOh10gK-KQ@mail.gmail.com', CAST(0x0000A60801565B5C AS DateTime), N'16May2016_MasterData_291.xlsx', 1, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Emails] OFF
/****** Object:  Table [dbo].[LARCA20_AuxData]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_AuxData](
	[RowId] [bigint] IDENTITY(1,1) NOT NULL,
	[TopLvl2] [int] NOT NULL,
	[TopLvl3] [int] NOT NULL,
	[XlsRowFrom] [int] NOT NULL,
	[XlsColumnFrom] [int] NOT NULL,
	[Toplvl4] [int] NOT NULL,
	[CntAdjuntos] [int] NOT NULL,
	[LimiteFiltro] [int] NOT NULL,
	[DiasReporte] [int] NOT NULL,
 CONSTRAINT [PK_LARCA20_AuxData] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_AuxData] ON
INSERT [dbo].[LARCA20_AuxData] ([RowId], [TopLvl2], [TopLvl3], [XlsRowFrom], [XlsColumnFrom], [Toplvl4], [CntAdjuntos], [LimiteFiltro], [DiasReporte]) VALUES (1, 5, 5, 1, 0, 3, 8, 0, 6)
SET IDENTITY_INSERT [dbo].[LARCA20_AuxData] OFF
/****** Object:  Table [dbo].[LARCA20_Roles]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Roles](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Roles] ON
INSERT [dbo].[LARCA20_Roles] ([IdRenglon], [Descripcion], [Borrado]) VALUES (1, N'Administrator', 0)
INSERT [dbo].[LARCA20_Roles] ([IdRenglon], [Descripcion], [Borrado]) VALUES (2, N'Editor', 0)
INSERT [dbo].[LARCA20_Roles] ([IdRenglon], [Descripcion], [Borrado]) VALUES (3, N'Reporter', 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Roles] OFF
/****** Object:  Table [dbo].[LARCA20_Responsable]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Responsable](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[RefIdUsuario] [int] NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Responsable] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Responsable] ON
INSERT [dbo].[LARCA20_Responsable] ([IdRenglon], [Nombre], [Apellido], [Email], [RefIdUsuario], [Borrado]) VALUES (1, N'Juan', N'Perez', N'juan@atos.com', 2, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Responsable] OFF
/****** Object:  Table [dbo].[LARCA20_Recursos]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Recursos](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Recursos] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARCA20_RcClasification]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_RcClasification](
	[IdRenglon] [bigint] IDENTITY(1,1) NOT NULL,
	[Nivel] [nvarchar](10) NULL,
	[Codigo] [nvarchar](10) NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Ownership] [nvarchar](5) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_RcClasification] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_RcClasification] ON
INSERT [dbo].[LARCA20_RcClasification] ([IdRenglon], [Nivel], [Codigo], [Descripcion], [Ownership], [Borrado]) VALUES (1, N'1', N'1', N'1 Supply Issues', N'', 0)
INSERT [dbo].[LARCA20_RcClasification] ([IdRenglon], [Nivel], [Codigo], [Descripcion], [Ownership], [Borrado]) VALUES (2, N'1', N'2', N'2 Business Planning Issues', N'', 0)
INSERT [dbo].[LARCA20_RcClasification] ([IdRenglon], [Nivel], [Codigo], [Descripcion], [Ownership], [Borrado]) VALUES (3, N'1', N'3', N'3 Commercial Execution Issue', N'', 0)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[LARCA20_RcClasification] OFF
/****** Object:  Table [dbo].[LARCA20_MasterDataSMOLess]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_MasterDataSMOLess](
	[dRenglon] [int] IDENTITY(1,1) NOT NULL,
	[RefIdMasterDataSMO] [int] NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_LARCA20_MasterDataSMOLess] PRIMARY KEY CLUSTERED 
(
	[dRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_MasterDataSMOLess] ON
INSERT [dbo].[LARCA20_MasterDataSMOLess] ([dRenglon], [RefIdMasterDataSMO], [borrado]) VALUES (1, 48, 0)
INSERT [dbo].[LARCA20_MasterDataSMOLess] ([dRenglon], [RefIdMasterDataSMO], [borrado]) VALUES (2, 51, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_MasterDataSMOLess] OFF
/****** Object:  Table [dbo].[LARCA20_MasterData]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_MasterData](
	[IdRenglon] [bigint] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](10) NULL,
	[DataIni] [nvarchar](100) NULL,
	[DataFin] [nvarchar](50) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_MasterData] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_MasterData] ON
INSERT [dbo].[LARCA20_MasterData] ([IdRenglon], [Data], [DataIni], [DataFin], [Borrado]) VALUES (2, N'BU', N'Air Care [1000045986]', N'HOME', 0)
INSERT [dbo].[LARCA20_MasterData] ([IdRenglon], [Data], [DataIni], [DataFin], [Borrado]) VALUES (3, N'BU', N'Baby Wipes [1000045671]', N'BABY', 0)
INSERT [dbo].[LARCA20_MasterData] ([IdRenglon], [Data], [DataIni], [DataFin], [Borrado]) VALUES (4, N'BU', N'Diapers [1000043704]', N'BABY', 0)
SET IDENTITY_INSERT [dbo].[LARCA20_MasterData] OFF
/****** Object:  Table [dbo].[LARCA20_Mailing]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Mailing](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](5) NULL,
	[Email] [nvarchar](100) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_Mailing] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LARCA20_Level4]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_Level4](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[RefIdLevel3] [bigint] NULL,
	[Borrado] [bit] NULL,
 CONSTRAINT [PK_LARCA20_Level4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_Level4] ON
INSERT [dbo].[LARCA20_Level4] ([Id], [Nombre], [RefIdLevel3], [Borrado]) VALUES (1, N'1111', 31, 0)
INSERT [dbo].[LARCA20_Level4] ([Id], [Nombre], [RefIdLevel3], [Borrado]) VALUES (2, N'1', 28, 0)
INSERT [dbo].[LARCA20_Level4] ([Id], [Nombre], [RefIdLevel3], [Borrado]) VALUES (3, N'111', 28, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_Level4] OFF
/****** Object:  Table [dbo].[LARCA20_UsuariosRoles]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_UsuariosRoles](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[RefIdUsuario] [int] NOT NULL,
	[RefIdRoles] [int] NOT NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_UsuariosRoles] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_UsuariosRoles] ON
INSERT [dbo].[LARCA20_UsuariosRoles] ([IdRenglon], [RefIdUsuario], [RefIdRoles], [Borrado]) VALUES (1, 1, 1, 0)
INSERT [dbo].[LARCA20_UsuariosRoles] ([IdRenglon], [RefIdUsuario], [RefIdRoles], [Borrado]) VALUES (2, 2, 1, 0)
SET IDENTITY_INSERT [dbo].[LARCA20_UsuariosRoles] OFF
/****** Object:  Table [dbo].[LARCA20_SmoScope]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LARCA20_SmoScope](
	[SmoScopeID] [bigint] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[RefIdSMO] [bigint] NULL,
	[RefIdBU] [bigint] NULL,
	[RefIdOwner] [bigint] NULL,
	[RefIdRC] [bigint] NULL,
	[Volumen] [decimal](20, 15) NULL,
	[Problem] [nvarchar](100) NULL,
	[Why1] [nvarchar](100) NULL,
	[Why2] [nvarchar](100) NULL,
	[Why3] [nvarchar](100) NULL,
	[ActionPlan] [nvarchar](100) NULL,
	[RefIdResponsable] [int] NULL,
	[DueDate] [datetime] NULL,
	[O_C] [char](1) NULL,
	[Borrado] [bit] NOT NULL,
	[Level4] [bigint] NULL,
 CONSTRAINT [PK_SmoScope] PRIMARY KEY CLUSTERED 
(
	[SmoScopeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LARCA20_SmoScope] ON
INSERT [dbo].[LARCA20_SmoScope] ([SmoScopeID], [Fecha], [RefIdSMO], [RefIdBU], [RefIdOwner], [RefIdRC], [Volumen], [Problem], [Why1], [Why2], [Why3], [ActionPlan], [RefIdResponsable], [DueDate], [O_C], [Borrado], [Level4]) VALUES (4717, CAST(0x0000A62600B0ED12 AS DateTime), 48, 86, 57, 46, CAST(0.212658400000000 AS Decimal(20, 15)), NULL, NULL, NULL, NULL, NULL, 1, NULL, N'O', 0, NULL)
INSERT [dbo].[LARCA20_SmoScope] ([SmoScopeID], [Fecha], [RefIdSMO], [RefIdBU], [RefIdOwner], [RefIdRC], [Volumen], [Problem], [Why1], [Why2], [Why3], [ActionPlan], [RefIdResponsable], [DueDate], [O_C], [Borrado], [Level4]) VALUES (4718, CAST(0x0000A62600B0F1A8 AS DateTime), 48, 86, 58, 78, CAST(0.190598400000000 AS Decimal(20, 15)), NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, 0, NULL)
INSERT [dbo].[LARCA20_SmoScope] ([SmoScopeID], [Fecha], [RefIdSMO], [RefIdBU], [RefIdOwner], [RefIdRC], [Volumen], [Problem], [Why1], [Why2], [Why3], [ActionPlan], [RefIdResponsable], [DueDate], [O_C], [Borrado], [Level4]) VALUES (4719, CAST(0x0000A62600B0F1BA AS DateTime), 48, 86, 58, 125, CAST(0.078143400000000 AS Decimal(20, 15)), NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, 0, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[LARCA20_SmoScope] OFF
/****** Object:  Table [dbo].[LARCA20_RolesRecursos]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LARCA20_RolesRecursos](
	[IdRenglon] [int] IDENTITY(1,1) NOT NULL,
	[RefIdRoles] [int] NOT NULL,
	[RefIdRecursos] [int] NOT NULL,
	[Select] [char](1) NULL,
	[Insert] [char](1) NULL,
	[Update] [char](1) NULL,
	[Delete] [char](1) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_RolesRecursos] PRIMARY KEY CLUSTERED 
(
	[IdRenglon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LARCA20_SmoScopeDetail]    Script Date: 06/21/2016 10:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LARCA20_SmoScopeDetail](
	[DetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[SmoScopeID] [bigint] NULL,
	[Fecha] [datetime] NULL,
	[SmoID] [bigint] NULL,
	[BuID] [bigint] NULL,
	[OwnerID] [bigint] NULL,
	[Lvl2ID] [bigint] NULL,
	[Lvl3ID] [bigint] NULL,
	[Volumen] [decimal](20, 15) NOT NULL,
	[ReasonID] [bigint] NULL,
	[Customer] [nvarchar](max) NULL,
	[Borrado] [bit] NOT NULL,
 CONSTRAINT [PK_LARCA20_SmoScopeDetail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LARCA20_SmoScopeDetail] ON
INSERT [dbo].[LARCA20_SmoScopeDetail] ([DetailID], [SmoScopeID], [Fecha], [SmoID], [BuID], [OwnerID], [Lvl2ID], [Lvl3ID], [Volumen], [ReasonID], [Customer], [Borrado]) VALUES (8402, 4717, CAST(0x0000A62600B0EA4D AS DateTime), 48, 86, 57, 7, 46, CAST(0.004412000000000 AS Decimal(20, 15)), 60, NULL, 0)
INSERT [dbo].[LARCA20_SmoScopeDetail] ([DetailID], [SmoScopeID], [Fecha], [SmoID], [BuID], [OwnerID], [Lvl2ID], [Lvl3ID], [Volumen], [ReasonID], [Customer], [Borrado]) VALUES (8403, 4717, CAST(0x0000A62600B0EA6B AS DateTime), 48, 86, 57, 7, 46, CAST(0.208246400000000 AS Decimal(20, 15)), 62, NULL, 0)
INSERT [dbo].[LARCA20_SmoScopeDetail] ([DetailID], [SmoScopeID], [Fecha], [SmoID], [BuID], [OwnerID], [Lvl2ID], [Lvl3ID], [Volumen], [ReasonID], [Customer], [Borrado]) VALUES (8404, 4718, CAST(0x0000A62600B0DD85 AS DateTime), 48, 86, 58, 10, 78, CAST(0.037060800000000 AS Decimal(20, 15)), 62, NULL, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[LARCA20_SmoScopeDetail] OFF
/****** Object:  Default [DF_LARCA20_ImputOriginal_borrado]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_ImputOriginal] ADD  CONSTRAINT [DF_LARCA20_ImputOriginal_borrado]  DEFAULT ('N') FOR [Borrado]
GO
/****** Object:  Default [DF_LARCA20_Mailing_borrado]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_Mailing] ADD  CONSTRAINT [DF_LARCA20_Mailing_borrado]  DEFAULT ('N') FOR [Borrado]
GO
/****** Object:  Default [DF_LARCA20_Recursos_borrado]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_Recursos] ADD  CONSTRAINT [DF_LARCA20_Recursos_borrado]  DEFAULT ('N') FOR [Borrado]
GO
/****** Object:  Default [DF_LARCA20_Roles_borrado]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_Roles] ADD  CONSTRAINT [DF_LARCA20_Roles_borrado]  DEFAULT ('N') FOR [Borrado]
GO
/****** Object:  Default [DF_LARCA20_RolesRecursos_borrado]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_RolesRecursos] ADD  CONSTRAINT [DF_LARCA20_RolesRecursos_borrado]  DEFAULT ('N') FOR [Borrado]
GO
/****** Object:  Default [DF_LARCA20_SmoScopeGroup_Fecha]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeGroup] ADD  CONSTRAINT [DF_LARCA20_SmoScopeGroup_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
/****** Object:  Default [DF_LARCA20_SmoScopeGroup_Borrado]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeGroup] ADD  CONSTRAINT [DF_LARCA20_SmoScopeGroup_Borrado]  DEFAULT ('N') FOR [Borrado]
GO
/****** Object:  Default [DF_LARCA20_UsuariosRoles_borrado]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_UsuariosRoles] ADD  CONSTRAINT [DF_LARCA20_UsuariosRoles_borrado]  DEFAULT ('N') FOR [Borrado]
GO
/****** Object:  ForeignKey [FK_LARCA20_Level4_LARCA20_RcClasification]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_Level4]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_Level4_LARCA20_RcClasification] FOREIGN KEY([RefIdLevel3])
REFERENCES [dbo].[LARCA20_RcClasification] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_Level4] CHECK CONSTRAINT [FK_LARCA20_Level4_LARCA20_RcClasification]
GO
/****** Object:  ForeignKey [FK_LARCA20_RolesRecursos_LARCA20_Recursos]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_RolesRecursos]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_RolesRecursos_LARCA20_Recursos] FOREIGN KEY([RefIdRecursos])
REFERENCES [dbo].[LARCA20_Recursos] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_RolesRecursos] CHECK CONSTRAINT [FK_LARCA20_RolesRecursos_LARCA20_Recursos]
GO
/****** Object:  ForeignKey [FK_LARCA20_RolesRecursos_LARCA20_Roles]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_RolesRecursos]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_RolesRecursos_LARCA20_Roles] FOREIGN KEY([RefIdRoles])
REFERENCES [dbo].[LARCA20_Roles] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_RolesRecursos] CHECK CONSTRAINT [FK_LARCA20_RolesRecursos_LARCA20_Roles]
GO
/****** Object:  ForeignKey [MasterBU]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [MasterBU] FOREIGN KEY([RefIdBU])
REFERENCES [dbo].[LARCA20_MasterData] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [MasterBU]
GO
/****** Object:  ForeignKey [MasterLvl]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [MasterLvl] FOREIGN KEY([RefIdRC])
REFERENCES [dbo].[LARCA20_RcClasification] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [MasterLvl]
GO
/****** Object:  ForeignKey [MasterOwner]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [MasterOwner] FOREIGN KEY([RefIdOwner])
REFERENCES [dbo].[LARCA20_MasterData] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [MasterOwner]
GO
/****** Object:  ForeignKey [MasterSMO]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [MasterSMO] FOREIGN KEY([RefIdSMO])
REFERENCES [dbo].[LARCA20_MasterData] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [MasterSMO]
GO
/****** Object:  ForeignKey [ResponsableSmo]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScope]  WITH CHECK ADD  CONSTRAINT [ResponsableSmo] FOREIGN KEY([RefIdResponsable])
REFERENCES [dbo].[LARCA20_Responsable] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScope] CHECK CONSTRAINT [ResponsableSmo]
GO
/****** Object:  ForeignKey [MasterBUDetail]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterBUDetail] FOREIGN KEY([BuID])
REFERENCES [dbo].[LARCA20_MasterData] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterBUDetail]
GO
/****** Object:  ForeignKey [MasterLvl2Detail]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterLvl2Detail] FOREIGN KEY([Lvl2ID])
REFERENCES [dbo].[LARCA20_RcClasification] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterLvl2Detail]
GO
/****** Object:  ForeignKey [MasterLvl3Detail]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterLvl3Detail] FOREIGN KEY([Lvl3ID])
REFERENCES [dbo].[LARCA20_RcClasification] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterLvl3Detail]
GO
/****** Object:  ForeignKey [MasterOwnerDetail]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterOwnerDetail] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[LARCA20_MasterData] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterOwnerDetail]
GO
/****** Object:  ForeignKey [MasterReasonDetail]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterReasonDetail] FOREIGN KEY([ReasonID])
REFERENCES [dbo].[LARCA20_MasterData] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterReasonDetail]
GO
/****** Object:  ForeignKey [MasterSMODetail]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [MasterSMODetail] FOREIGN KEY([SmoID])
REFERENCES [dbo].[LARCA20_MasterData] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [MasterSMODetail]
GO
/****** Object:  ForeignKey [SmoScopeDetail]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail]  WITH CHECK ADD  CONSTRAINT [SmoScopeDetail] FOREIGN KEY([SmoScopeID])
REFERENCES [dbo].[LARCA20_SmoScope] ([SmoScopeID])
GO
ALTER TABLE [dbo].[LARCA20_SmoScopeDetail] CHECK CONSTRAINT [SmoScopeDetail]
GO
/****** Object:  ForeignKey [FK_LARCA20_User_Owner_LARCA20_User_Owner]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_User_Owner]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_User_Owner] FOREIGN KEY([Id])
REFERENCES [dbo].[LARCA20_User_Owner] ([Id])
GO
ALTER TABLE [dbo].[LARCA20_User_Owner] CHECK CONSTRAINT [FK_LARCA20_User_Owner_LARCA20_User_Owner]
GO
/****** Object:  ForeignKey [FK_LARCA20_UsuariosRoles_LARCA20_Roles]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_UsuariosRoles_LARCA20_Roles] FOREIGN KEY([RefIdRoles])
REFERENCES [dbo].[LARCA20_Roles] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_UsuariosRoles] CHECK CONSTRAINT [FK_LARCA20_UsuariosRoles_LARCA20_Roles]
GO
/****** Object:  ForeignKey [FK_LARCA20_UsuariosRoles_LARCA20_Usuarios]    Script Date: 06/21/2016 10:49:59 ******/
ALTER TABLE [dbo].[LARCA20_UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_LARCA20_UsuariosRoles_LARCA20_Usuarios] FOREIGN KEY([RefIdUsuario])
REFERENCES [dbo].[LARCA20_Usuarios] ([IdRenglon])
GO
ALTER TABLE [dbo].[LARCA20_UsuariosRoles] CHECK CONSTRAINT [FK_LARCA20_UsuariosRoles_LARCA20_Usuarios]
GO
